name: Build ProBPA Connector (Windows)

on:
  push:
    branches: ["main"]
    paths:
      - "connector_app/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install Python Dependencies
        run: |
          pip install -r connector_app/requirements.txt
          pip install pyinstaller

      - name: Setup Inno Setup
        uses: minhng99/download-inno-setup@v1
        with:
          version: "6.2.2"

      - name: Build Executable (PyInstaller)
        run: |
          cd connector_app
          pyinstaller --noconfirm --log-level=WARN --clean packaging/windows.spec

      - name: Create Installer (Inno Setup)
        run: |
          iscc "connector_app\packaging\setup_script.iss"

      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Setup_Conector_ProBPA
          path: connector_app/packaging/Output/*.exe
          if-no-files-found: error
